@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital@1&family=Nanum+Myeongjo:wght@700&display=swap');

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Inria Serif', serif;
    font-family: 'Nanum Myeongjo', serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inria Serif', serif;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding: 3px;
}

a {
    text-decoration: none;
}

li a {
    text-decoration: none;
    text-transform: capitalize;
}
  
.logo-flag-container {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.name-container {
    width: 88%;
}

.name {
    font-size: 1.5em;
    color: #0c49f0fb;
    font-family: 'Nanum Myeongjo', serif;
}

.learn {
    font-size: 0.8em;
    color: rgb(61, 133, 133);
}

.name:hover, .learn:hover {
    background: rgb(190, 187, 187);
}

.flag {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.book-list {
    width: 40%
}

.book-image img {
    max-width: 100%;
    height: 200px;
}

textarea {
    resize: none;
}

.fa {
    padding: 8px;
    color: #fff;
}

.hero-image {
  background-image: url(../images/soyinka.jpg);
  background-color: #cddccd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.hero-text {
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}