@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital@1&family=Nanum+Myeongjo:wght@700&display=swap');

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Inria Serif', serif;
    font-family: 'Nanum Myeongjo', serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-family: 'Inria Serif', serif;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding: 5px;
}

a {
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: rgb(61, 133, 133);
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: bold;
}
  
.logo-flag-container {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.name-container {
    width: 88%;
}

.name {
    font-size: 2rem;
    color: #0c49f0fb;

    font-family: 'Nanum Myeongjo', serif;
}

.learn {
    font-size: 12px;
    color: rgb(61, 133, 133);
}

.name:hover, .learn:hover {
    background: rgb(190, 187, 187);
}

.flag {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.fa {
    padding: 8px;
    color: #fff;
}

textarea {
    resize: none;
}

input {
    border: none;
    border-radius: 20%;
}

.beginner {
    transform: translateX(8px);
}

.self {
    border-radius: 50%;
    border: none;
}