@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital@1&family=Nanum+Myeongjo:wght@700&display=swap');

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Inria Serif', serif;
    font-family: 'Nanum Myeongjo', serif;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-family: 'Inria Serif', serif;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
  }
  
  .logo-flag-container {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.name-container {
    width: 88%;
}

.name {
    font-size: 2rem;
    color: #37853bfb;
    font-weight: lighter;
    font-family: 'Nanum Myeongjo', serif;
}

.learn {
    font-size: 12px;
}

.name:hover, .learn:hover {
    background: rgb(190, 187, 187);
}

.flag {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.hero-section {
    color: #fff;
    position: relative;
    font-family: 'Inria Serif', serif;
}

.hero-content {
    width: 100%;
    position: relative;
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 12%;
    top: 20%;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text h1 {
    font-size: 2em;
    font-weight: 500;
}

.hero-text h2 {
    font-size: 5em;
    font-weight: bolder;
    border-bottom: 8px solid white;
    padding-bottom: 15px;
    color: #fff;
}

.hero-icons {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.hero-icons img {
    width: 100%;
    height: 120px;
    display: block;
}

.hero-icons h4 {
    color: #000;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    padding-top: 5px;
}

@media screen and (max-width: 600px) {
    .flag {
        width: 25px;
        height: 25px;
    }
    .name {
        font-size: 1.4rem;
    }
    .learn {
        font-size: 10px;
    }
    .hero-text h1 {
        font-size: 1.3rem;
    }
    .hero-text h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 350px) {
    .hero-icons {
        display: none;
    }
}

/* HELP SECTION---------- */

.help-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(150, 150, 150, .2);
    margin: 0 0 20px;
}

@media screen and (max-width: 600px) {
    .help-message h2:nth-of-type(1) {
        font-size: 1em;
    }
    .help-message h2:nth-of-type(2){
        font-size: 2.7em;
        color: black;
        font-weight: bold;
    }
    .help-message p {
        font-size: 1.2em;
    }
}

.help-section h1, .help-section h2 {
    text-align: center;
}

.help-message h2:nth-of-type(1) {
    font-size: 1.3em;
    opacity: .6;
}

.help-message h2:nth-of-type(2){
    font-size: 3.3em;
    color: black;
    font-weight: bold;
}
.help-message p {
    font-size: 1.7em;
}

.help-message p, .help-message h2 {
    margin: 22px 0;
}

.help-message {
    width: 70%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: red;
    height: 50px;
    width: 150px;
    border: none;
    color: #fff;
    font-weight: bold;
}

/* -------- NEED HELP? ---------- */

.engineers-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.engineers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.image-1, .image-2 {
    width: 50%;
    padding: 20px;
}

.image-1 img, .image-2 img {
    width: 100%;
    display: block;
}

.image-1 figcaption {
    font-size: 1.3em;
    padding: 10px 0;
    text-align: center;
}

.image-2 p:nth-child(1) {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.image-2 p:nth-child(2) {
    font-size: 1.5em;
    color: red;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .engineers {
        display: block;
    }
    .image-1, .image-2 {
        display: block;
        width: 100%;
    }
}

/* QUALITY SECTION--------------- */

@media screen and (max-width: 600px) {
.quality-img {
  padding-bottom: 15px;
  }
}
 .quality {
    width: 100%;
    background: hsl(100, 4%, 84%);
}

.quality-container {
    width: 85%;
    display: flex;
    padding: 20px 0;
}

.quality-img, .quality-text {
    width: 50%;
}

.quality-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 40px auto 40px;
    flex-wrap: wrap;
}

.quality-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-img img {
    max-width:100%;
    max-height:100%;
    display: block;
}

.quality-text p {
    font-size: 1.5em;
    padding: 1.5em 0;
}

.quality-text h2 {
    border-bottom: 7px solid red;
    text-align: left;
    color: rgba(5, 37, 97, 0.918);
    font-size: 4.8em;
    padding-bottom: 5px;
    font-weight: bolder;
}

.quality-text button {
    background-color: red;
    height: 40px;
    width: 130px;
    border: none;
    color: #fff;
    font-weight: bold;
}

@media screen and (max-width:600px) {
    .quality-container, .quality {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      .quality-text h2 {
        font-size: 2.5em;
    }
    .quality-text p {
        font-size: 1.2em;
    }
}

/* ------SERVICES--------- */

 .service {
    float: left;
    width: 33.33%;
  }
  
.services {
    display: grid;
    place-items: center;
}

.services-units {
    width: 80%;
}

.fa {
    color: #fff;
    margin: 20px 10px;
    background-color: rgb(243, 19, 19);
    padding: 30px;
    border-radius: 50%;
    text-align: center;
}

.services h2 {
    font-size: 3.2em;
    margin: 20px auto;
    text-align: center;
}

.service h3 {
    font-size: 2.5em;
    font-weight: bold;
    padding: 15px;
}

.service p {
    font-size: 1.7em;
    padding: 25px;
}

@media screen and (max-width: 600px) {
    .service {
      width: 100%;
    }
  }

/* -------- ABOUT SECTION ------- */

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(34, 117, 196);
    padding: 20px 0;
}

.about-section-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  20px 0;
}

@media screen and (max-width: 600px) {
    .service {
        width: 100%;
    }
}

.about-text {
    width: 33%;
    float: left;
    margin-right: 10px;
}

.img-section {
    width: 66%;
    float: right;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: #fff;
    margin-right: 15px;
}

.about-text h2 {
    font-size: 1.3em;
    opacity: .7;
    color: #fff;
    font-family: Roboto,sans-serif;
}

.about-text h3 {
    font-size: 5em;
    font-family: 'Inria Serif', serif;
}

.img-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.img-section img {
    width: 300px;
    height: 250px;
    padding: 0;
}

@media screen and (max-width: 600px) {
    
    .about-section-container {
        display: block;
    }
    .about-text, .img-section {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
    .img-section {
        display: block;
    }
    .img-section img {
        width: 250px;
        height: 200px;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .about-text h3 {
        font-size: 3em;
    }
}

@media screen and (max-width: 890px) {
     .about-section-container {
        display: block;
    }
    .about-text, .img-section {
        width: 100%;
        float: none;
    }
    .img-section img {
       width: 300px;
       height: 250px;
    }
}

/* ----- TO-DO SECTION ----- */

.to-do-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.what-we-do {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.what-we-do h2 {
    font-size: 3.2em;
    padding: 30px 0;
    font-weight: bolder;
}

.what-we-do p {
    font-size: 2.6em;
    padding: 15px 0;
    line-height: 1.5;
}

.what-we-do button {
    margin: 15px;
}

@media screen and (max-width: 660px) {
    .what-we-do {
        display: block;
        text-align: center;
    }
    .what-we-do h2 {
        font-size: 2.2em;
    }
    .what-we-do p {
        font-size: 1.7em;
    }
    .what-we-do button {
        margin: 15px;
    }
}

.what-we-do button:nth-of-type(2) {
    background: #fff;
    color: #000;
    border: 2px solid;
}
/* ------- FOOTER --------- */

footer {
    display: block;
    text-align: center;
    background: #000;
    color: #fff;
    height: 200px;
    position: relative;
}

footer p:nth-child(1) {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2em;
    padding-bottom: 15px;
    bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
}

footer p:nth-child(2) {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    padding-top: 15px;
}