* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    background-color: whitesmoke;
}

body {
    margin: auto;
    padding: 40px;
    font-size: 20px;
    /* text-align: center; */

}

/* about section  */

.about-co {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 20px;
}

.right-col, .left-col {
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 100px;
}

img {
    display: flex;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.who-we {
    text-align: center;
    margin-bottom: 40px;
}

p {
    margin: 5px;
    padding: 5px;
    text-align: left;
}

.about.info {
    font-size: 1.1em;
    line-height: 35px;
}

/* contact form */

.container {
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin: 20px 70px;
}

.contact-us {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 2em;
}

form {
    display: inline-block;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none;
    border-radius: 5px;
}

  .name, input[type=text], textarea, label, .contact-us, .btn {
      background: white;
}

label {
    text-align: left;
}

.name:focus {
    border: 2px #555;
}

textarea {
    height: 200px;
}

.btn {
    background-color: #002df7bd;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    padding: 12px 45px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}