@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

html {
  margin: 0;
  padding: 0;
  background-color: royalblue;
  font-size: 25px;
}

/*body {
  line-height: 1;
}*/

.nav {
   background: wheat;
   position: relative;
   margin: auto;
   height: 140%;
   border-radius: 10px;
}

.nav a {
  position: absolute;
  top: 10px;
  left:15px;
}

.nav a:hover{
  background: none;
}

.nav img {
  height: auto;
  width: 90px;
}

.nav h1 {
  text-align: center;
  color: rgba(9, 28, 133, 1.0);
  text-shadow: 5px 7px 10px white;
  font-size: 1.6em;
  padding-top: 20px;
  padding-bottom: 20px;
}

article {
  background: white;
  padding-top: 0;
  color: black;
  border-radius: 10px;
}

p {
  font-size: 1em;
  margin: 15px;
  padding: 5px;
}

h2 {
  text-align: center;
  color: royalblue;
  margin-top: 10px;
  padding-top: 15px;
  font-size: 1.0em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: skyblue;
}

a:hover {
  background: steelblue;
}

.address {
  padding-top: 20px;
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}