body {
  padding: 0;
  margin: 0;
  color: #333;
}

.main-menu {
  background-image: url(../images/about-header.jpg);
  height: 20vh;
  background-size: cover;
  background-position: center;
}

.header-title {
  display: block;
  text-align: center;
  padding-top: 3px;
  margin-bottom: 5px;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  text-shadow: 15px 10px 5px whitesmoke;
 }

.main-menu ul {
  text-align: center;
  margin: 2px;
  display: block;
}

.main-menu li {
  padding: 0 .6em;
  display: inline;
}

.main-menu a {
  margin-top: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight:  bold;
}

.main-menu a:hover {
    background-color: black;
}

ul, li {
  text-decoration: none;
  list-style-type: none;
  font-size: 25px;
}

p {
  font-size: 25px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

h2, h3 {
  margin-left: 30px;
}

.content-section {
  margin: 1em;
}

.container {
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-weight: bold;
  color: #33333;
  text-align: center;
  font-size: 3.5em;
}

.flag {
  float: left;
  height: 120px;
  width: 120px;
  margin: 15px;
  border-radius: 50%;
}

/* ................. footer css codes .................... */

.main-footer {
  background: steelblue;
  color: white;
}

.main-footer-container {
  display: flex;
  align-items: center;
  width: 95%;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
  margin-right: 5px;
}

.footer-nav{
  padding-right: 20px;
}

.footer-nav li, a {
  padding: 0 .5em;
  color: white;
  text-decoration: none;
}

.footer-nav img {
  width: 20px;
  height: 20px;
}

.copyright {
  text-align: center;
  font-size: 1em;
  color: white;
  font-weight: bold;
}

/* ........... Contact Page .............. */

address{
  margin-left: 30px;
  font-size: 25px;
}
/* ........... Projects css coding .............. */

.myproject{
  width: 100%;
}
.head {
  background: rgb(207, 99, 23);
  color: #f7fff7;
  margin-top: 0;
  margin-bottom: 0;
}

.head h2{
  margin: 25px;
  font-size: 25px;
}

.projects {
  background: rgba(9, 121, 94, .88);
  color: #f7fff7;
  margin: auto;
}

.projects h2 {
  margin: 25px;
  font-size: 25px;
}

p a, .projects a {
  color: rgba(0, 203, 255, 100);
}

.btn {
  background: #f7fff7;
  text-decoration: none;
  padding: 8px; margin: 3px;
  border-radius: 20px;
  display:inline-block;
}

a:hover {
  text-decoration: none;
}

.btn:hover {
  background: rgba(47, 48, 97, 80%);
}

.work-experience {
  background: rgb(207, 99, 23);
  color: #f7fff7;
  margin: auto;
}

.work-experience h2, .work-experience h3{
  margin: 25px;
  font-size: 25px;
}
.education {
  background: rgba(9, 121, 94, .88);
  color: #f7fff7;
  margin: auto;
}

.education h2, .education h3 {
  margin: 25px;
  font-size: 25px;
  margin-bottom: 10px;
}